#canvas{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 0;
    cursor: default;
    image-rendering: pixelated;
}

#submitText{
    position: absolute;
    bottom: 20px;
}